
.layout {
  color:black;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: flex-start;
  height: auto;

}

.left {
  width:30%;
  height: 100%;
  background-color: #FFD131;
  padding-left: 100px;
  margin-right: 20px;
  flex-direction: row;
}

.right {
  width:45%;
  height: 100%;
  background-color: white;
  text-align: inherit;
}

.section-h4_left{
  color:#FFD131;
  font-family: 'Roboto Slab', serif;
  font-size:20px;
}

.section-h4_right{
  font-family: 'Roboto Slab', serif;
  font-size:20px;
  margin-top: 40px;
}

body{
  background-color: white;
  height: 100%;
}

img{
  width:65%;
  background-size: cover;
  margin: auto;
  margin-bottom: 10%;
  padding: 30px 0;
}

.image{
  text-align: center;
  height: 25%;
  margin-bottom: 10%;
}

.bare{
  background-color: #353238;
  min-width: inherit;
  text-align: center;
  padding:0px;
  margin-top: 20px;
}

.bare_hob{
  background-color: #353238;
  min-width: inherit;
  text-align: center;
}

.icons{
  display: flex;
  flex-direction:row;
  justify-content:space-around;
  color:#2E282A;
  font-size: 55px;
  margin-top: 20px;
  margin-bottom: 10%;
}

section{
  padding:0px !important;
}

.information{
  color:#011627;
  margin: 35px;
  text-align: justify;
}

.info{
  width:65%;
  margin-right: 10%
}

.hobbies{
  height:30%;
}

.section-h4_left bare_hob{
  margin-top: 10px;
}

.about{
  height: 30%;
}

.contact{
  height: 25%;
}

.adress{
  color: #011627;
  margin: 10%;
}

h4{
  margin:0;
}

.line{
  color: #ec4e20;

}

.flex{
  display: flex;
}

.lista{
  font-size: 25px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #011627;
  margin-top: 5px;
}

.name{
  font-size: 40px;
  color:#FFD131;
  margin-bottom: 10%;
}

.position{
  padding-top: 0px;
  color: black;
  margin-top: 0px;
  margin-bottom: 80px;
}

.namesurname{
  display: block;
  margin-bottom: 5%;
}

.surname{
  font-size: 40px;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 0;
}


.up1{
  display: flex;
  margin-left: 25px;
  margin-bottom: 25px;
}

.horline{
  height: 1px;
  border: none;
  border-top: 3px solid #FFD131;
}

.total{
  display:flex;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
  justify-content: center;
}

.down1{
  display: flex;
  margin-left: 25px;
  margin-top: 25px;
}

.down_reference{
  display: flex;
  margin-left: 25px;
  margin-top: 25px;
}

.icon{
  width: 5%;
}

.fa2 {
  margin-right: 10px;
  font-size: inherit;
  color: #FFD131;
}

.years{
  margin-right:20px;
  width: 20%;
}

.years p{
  margin: 0;
}

.education{
  display: flex;
  padding-bottom: 0;
  margin-bottom: 0;
}

.faimg{
  color: #FFD131;
  font-size: 30px;
  margin-right: 15px;
  margin-left: 25px;
}

.underline{
  margin-top: 0;
  color: #FFD131;
  size: 10px;
}


@media screen and (max-width:550px){
  .left,
  .right{
    width:100%;
    }
  .layout{
    flex-direction: column;
  }
}
